<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title><%= htmlWebpackPlugin.options.title || 'Webpack App' %></title>
</head>
<body>
	<div id="myshoppingcart">
		<h1>this is shoppingCart!</h1>
		<my-cart></my-cart>
	</div>
</body>
</html>