//悬浮按钮-发布文章
.action-btn {
	position: fixed;
	bottom: 2.8rem;
	right: 2.8rem;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	z-index: 1001;
	//鼠标进入以及移出
	&.is-active {
		ul {
			visibility: visible;
		}
		//显示发布主题以及回复主题
		.action-btn__reply,
		.action-btn__post {
			opacity: 1;
			transform: scale(1) translate3d(0, 0, 0);
		}
		//十字动画旋转
		.action-btn__plus {
			img {
				transform: rotate(225deg);
			}
		}
	}
	// 三个悬浮按钮的基础样式
	&__link {
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		
		background-color: $brand-primary;
		color: #ffffff;
		text-align: center;
		
		box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
		
		&:hover {
			color: #ffffff;
			text-decoration: none;
			
			box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
			transition: box-shadow 150ms cubic-bezier(0, 0, .2, 1);
		}
	}
	//十字动画
	&__plus {
		position: relative;
		width: 2.8rem;
		height: 2.8rem;
	
		text-align: center;
		> img {
			margin-top: 16px;
			transition: transform .2s cubic-bezier(.4, 0, .2, 1);
		}
	}
	
	
	ul {
		position: absolute;
		bottom: 2.8rem;
		right: 9px;
		visibility: hidden;
		> li {
			margin-bottom: 10px;
			position: relative;
		}
	}
	//显示发布主题以及回复主题
	&__reply, &__post {
		display: block;
		opacity: 0;
		transform: scale(0.4) translate3d(0, 10px, 0);
		transition: all .2s cubic-bezier(.4, 0, .2, 1);
		line-height: 2rem;
	}
	
	&__reply {
		background-color: $brand-success;
	}
	
	&__post {
		background-color: $brand-danger;
	}
}
